<head>
	{% if page_title %}
    <title>{{ page_title }} | Ruby on Rails Tutorial Sample App</title>
	{% else %}
	<title>Ruby on Rails Tutorial Sample App</title>
	{% endif %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'static_pages/style.css' %}">

	<!--[if lt IE 9]>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  		</script>
	<![endif]-->
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      	<div class="container">
        	<a href="#" id="logo">Sample app</a>
        	<nav>
          		<ul class="nav navbar-nav navbar-right">
            		<li><a href="{% url 'static_pages:home' %}">Home</a></li>
            		<li><a href="{% url 'static_pages:help' %}">Help</a></li>
            		<li><a href="#">Log in</a></li>
          		</ul>
        	</nav>
      	</div>
    </header>
    <div class="container">
      	{% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
