{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                {{ user.gravatar }}
                {{ user.username }}
            </h1>
            <span>
                <a href="{% url 'static_pages:profile' user.pk %}">View my profile</a>
            </span>
            <p>
                {{ user.microposts.count }} micropost{{ user.microposts.count|pluralize }}
            </p>
        </section>
        <section class="micropost_form">
            <form method="post" action="{% url 'static_pages:create_micropost' %}" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </section>
    </aside>
    {% if user.microposts %}
    <div class="col-md-8">
        <h3>Micropost Feed</h3>
        {% include 'user_post_list.html' with page_obj=page_obj %}
    </div>
    {% endif %}
</div>

{% else %}
<div class="center jumbotron">
  	<h1>Welcome to the Sample App</h1>

  	<h2>
    	This is the home page for the
    	<a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>
    	sample application.
  	</h2>
  	<a href="{% url 'static_pages:signup' %}" class="btn btn-lg btn-primary">Sign up now!</a>
</div>

<a href="https://www.djangoproject.com/" target="_blank">
	{% load static %}
	<img src="{% static 'static_pages/images/django.png' %}" alt="Django logo" id="django-logo">
</a>
{% endif %}

{% endblock %}