{% extends 'base.html' %}

{% block content %}
<div class="center jumbotron">
  	<h1>Welcome to the Sample App</h1>

  	<h2>
    	This is the home page for the
    	<a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>
    	sample application.
  	</h2>

  	{% if not user.is_authenticated %}
  	<a href="{% url 'static_pages:signup' %}" class="btn btn-lg btn-primary">Sign up now!</a>
  	{% endif %}
</div>

<a href="https://www.djangoproject.com/" target="_blank">
	{% load static %}
	<img src="{% static 'static_pages/images/django.png' %}" alt="Django logo" id="django-logo">
</a>
{% endblock %}