{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		{% for message in messages %}
		<p class="alert alert-danger">{{ message }}</p>
		{% endfor %}

		<form method="post" action="{% url 'static_pages:login' %}">
		{% csrf_token %}
			{{ form.as_p }}
			<p>
				<label for="remember_me" class="checkbox inline">
					<input type="checkbox" name="remember_me" id="session_remember_me" checked>
					<span>Remember me on this computer</span>
				</label>
			</p>
			<input type="hidden" name="next" value="{{next}}">
			<button type="submit" class="btn btn-primary">Log in</button>
		</form>
		
		<p>New user? <a href="{% url 'static_pages:signup' %}">Sign up now!</a></p>
	</div>
</div>
{% endblock %}