{% extends 'base.html' %}

{% block content %}
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                {{ u.gravatar }}
                {{ u.username }}
            </h1>
            <br><br><br>
            {% include 'partials/following_stats.html' with u=u %}
            <br>
            <p>Date joined: {{ u.date_joined }}</p>
            <p>Last login: {{ u.last_login }}</p>
        </section>
    </aside>
    <div class="col-md-8">
        {% if user.is_authenticated %}

        {% include 'partials/follow_btn.html' with u=u %}

        {% endif %}

        {% if u.microposts %}
        <h3>Microposts ({{ u.microposts.count }})</h3>
        
        {% include 'partials/user_post_list.html' with page_obj=page_obj %}
        
        {% else %}
        <h3>This user hasn't posted anything yet!</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

